.smooth-scroll-container {
  background-color: #101418; 
  color: #ffffff; 
  font-family: Arial, sans-serif;
  text-align: center;
}

.navbar {
  background-color: gray; 
  padding: 10px 0;
  position: fixed;
  border: 1px solid black;
  color: white;
  width: 100%;
  z-index: 1000;
  transition: background-color 0.3s; 
}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.logo {
  font-size: 1.5rem;
  margin: 0;
  align-items: center;
  justify-content: center;
  flex: 1; 
}

.section-1 {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.section-2 {
  height: 100vh; 
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.section-1 .title{
  font-size: 2.5rem;
  margin-bottom: 20px;
  color: white;
}

.section-1 .subtitle {
  font-size: 1.5rem;
  margin-bottom: 20px;
}

.section-1 .scroll-button {
  background-color: gray; 
  color: #ffffff; 
  padding: 10px 20px;
  font-size: 1rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}


@media (max-width: 768px) {
  .navbar {
    padding: 5px 0; 
  }

  .nav-container {
    padding: 0 10px; 
  }

  .logo {
    font-size: 1.2rem; 
  }

  .section-1 .title {
    font-size: 2rem; 
  }

  .section-1 .subtitle {
    font-size: 1.2rem; 
  }

  .section-1 .scroll-button {
    padding: 8px 15px; 
    font-size: 1rem; 
  }

  .section-1{
    width: 100%;

  }
}
